version: "3.8"

services:
  db:
    container_name: db
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    networks:
      - custom
       
  db_test:
    container_name: db_test
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres_test
      POSTGRES_PASSWORD: postgres_test
      POSTGRES_DB: postgres_test
    ports:
      - "5434:5432"
    networks:
      - custom

networks:
  custom:
    driver: bridge